.footer {
  margin-top: 40px;

  @media screen and (max-width: 500px) {
    font-size: 12px;
  }
}

.footer__main {
  display: grid;
  grid-template-columns: 320px 1fr 295px 265px;
  align-items: center;
  border-top: 1px solid #e8e8e8;
  padding-top: 60px;

  @media screen and (max-width: 1280px) {
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
}

.footer__main__elem {
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer__phone {
  font-size: 18px;
  font-weight: 300;
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  margin-bottom: 7px;
  transition: 0.2s;

  svg {
    margin-right: 10px;
  }

  @media screen and (max-width: 500px) {
    font-size: 14px;

    svg {
      width: 22px;
      height: 22px;
    }
  }

  &:hover {
    opacity: 0.6;
    transition: 0.2s;
  }
}

.footer__logo {
  margin-bottom: 20px;

  @media screen and (max-width: 768px) {
    margin-right: 0;
  }
}

.footer__menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 14px;
  li {
    a {
      font-size: 14px;
      font-weight: 300;
      color: #898989;
      transition: 0.2s;

      &:hover {
        opacity: 0.5;
        transition: 0.2s;
      }
    }
  }

  @media screen and (max-width: 1280px) {
    text-align: right;
  }

  @media screen and (max-width: 768px) {
    text-align: center;
    column-gap: 40px;
  }

  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}

.footer__payment {
  max-width: 295px;
  width: 100%;
  border: 1px solid rgba(20, 20, 20, 0.3);
  border-radius: 10px;
  position: relative;
  padding: 20px 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  max-height: 123px;
  min-height: 90px;

  p {
    position: absolute;
    left: 25px;
    top: -14px;
    background: white;
    padding: 5px;
    margin: 0;
  }
}

.footer__payment__warning {
  border: 1px solid #c4c4c4;
  border-radius: 5555px;
  background: #f4f4f4;
  position: absolute;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  max-width: 235px;
  width: 100%;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, 0);

  svg {
    margin-right: 10px;
    width: 25px;
  }
  span {
    color: #797979;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
    line-height: 1;
  }
}

.footer__questions {
  text-align: right;

  p {
    font-size: 1.375em;
    font-weight: bold;
    color: #141414;
    margin: 0;
  }

  span {
    font-size: 1em;
    margin: 15px 0 20px;
    display: block;
  }

  button {
    background: none;
    border: 1px solid #141414;
    border-radius: 36px;
    font-size: 14px;
    font-weight: 300;
    width: 143px;
    height: 36px;
    transition: 0.2s;

    &:hover {
      background: #141414;
      color: white;
      transition: 0.2s;
    }
  }

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.footer__down {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-top: 1px solid #e8e8e8;
  padding: 35px 0;
  margin-top: 39px;
  font-size: 14px;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
}

.footer__down__right {
  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
}

.footer__down__copy {
  color: #898989;
  font-weight: 300;
  font-size: 1em;
}

.footer__down__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 52px;

  li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    a {
      font-weight: 300;
      color: #898989;
      transition: 0.2s;

      &:hover {
        opacity: 0.5;
        transition: 0.2s;
      }
    }

    &:after {
      content: "";
      width: 1px;
      height: 15px;
      display: block;
      margin: 0 11px;
      background: #898989;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    margin-right: 0;
    margin-bottom: 25px;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    li {
      &:after {
        display: none;
      }
    }
  }
}

.footer__down__creator {
  color: #141414;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 900;
  transition: 0.2s;

  &:hover {
    opacity: 0.5;
    transition: 0.2s;
  }

  img {
    margin-left: 22px;
  }
}
